@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


header{
    position: fixed;
    width: 100%;
    padding: 5px 100px;
    background-color: #dacfc3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;;
   
}

.logo{
    color: #070404;
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a{
    color: #070404;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    padding-left: 30px;
}

.navigation a:hover{
    color: #8d8989;
    
}
section{
    padding: 100px 200px;

}

.main{
    background: url(images/background.png) no-repeat center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    background-position: center;
    align-items: center;
    background-attachment: fixed;
}
.main h2{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 200px;

}

.main h2 span {
    display: inline-block;
    color: #ebd7be;
    font-size: 2.5em;
    font-weight: 500;
}

.main h3{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.main_btn{
    background-color: #000000;
    color: #ebd7be;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
    transition: all 0.7s ease-in-out;
}

.main_btn:hover{
    background-color: #080807;
    transform: scale(1.1);
}

.social_icons a{
    color:  #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title{
    display: flex;
    justify-content: center;
    color: #70573f;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 50px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.card{
    width: 15.25em;
    box-shadow: 0px 5px 25px rgba(66, 66, 66, 0.5);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;

}

.card:hover{
    transform: scale(1.1);
    transition: all 0.7s ease-in-out;
}

.icon{
    color: #70573f;
    font-size: 7em;
    text-align: center;
}

.info {
  text-align: center;
}

.info h3{
    color: #20160d;
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px;
}

.products {
    background-color: #dbcbba;

}

.products .content{
    margin-top: 30px;

}

.product-card {
  margin: 20px;
  background-color: #ffff;
  border: 1px solid #f8f7f7;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  transition:  0.7s ease;

}

.product-card:hover {
  transform: scale(1.1);
}

.product-card:hover .product-image{
  opacity: 0.7;
}

.product-image image {
  width: 100%;
  

  
}